@charset "utf-8";
*{margin:0px;padding:0px;}
h2, dl, p{padding:10px;}
ol, ul, li{list-style:none;}

main{}
.mslide{
  width:100%;
  height:800px;
  border-bottom:3px solid #000;
  position:relative; /*기준~*/
  overflow:hidden;
}
.mslide div{
  width:100%;
  position:absolute; /*이미지 겹치기*/
}
.mslide .slide1{z-index:3;}
.mslide .slide2{z-index:2;}
.mslide .slide3{z-index:1;}

.mslide img{
  width:100%; 
}
.mslide i.fas{
  position:absolute;
  font-size:50px;
  background:#fff;
  padding:10px;
  bottom:30px;
  z-index:10;
}
.mslide i.fa-angle-left{left:50px;}
.mslide i.fa-angle-right{left:110px;}

.mslide .ctrl_btn{
  position:absolute;
  right:30px;top:50%;
  transform:translateY(-50%);
  z-index:10;
}
.mslide .ctrl_btn > li{
  width:15px;height:15px;
  border-radius:50%;
  background:#fff;
  margin-bottom:10px;
}
.on{
  background:rgb(175, 65, 1) !important;
}